<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        * {
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .personalinfo {
            margin-top: -20px;
            display: grid;
            grid-template-areas: "A B " "C D " "E F " "G H " "J K " "L M " "N O ";
            margin-bottom: -15px;
        }
        
        .pdf {
            margin-left: 50px;
            margin-top: 43px;
        }
        
        p {
            margin-top: -10px;
        }
        
        .pgrid {
            margin-top: -15px;
        }
        
        button {
            padding: 35px;
            padding-bottom: 20px;
            padding-top: 20px;
            font-size: 22px;
            font-weight: 600;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            background-color: grey;
            border: none;
        }
        
        button:hover {
            background-color: #5ed162;
            transition: 0.1s;
        }
        
        .buttonbox {
            margin-top: 50px;
            padding-bottom: 40px;
            width: 333px;
            display: flex;
            justify-content: space-between;
        }
    </style>
    <title>PDF</title>
</head>

<body>
    <div class="pdf">
        <h1>Application Form for Education Abroad</h1>
        <h2>Personal Information</h2>
        <div class="personalinfo">
            <div>
                <h3>Name</h3>
                <p>Sezer</p>
            </div>
            <div>
                <h3>Surname</h3>
                <p>islambey</p>
            </div>
            <div class="pgrid">
                <h3>Gender</h3>
                <p>Male</p>
            </div>
            <div class="pgrid">
                <h3>Marital Status</h3>
                <p>Single</p>
            </div>
        </div>

        <div>
            <h3>Adress</h3>
            <p>akdeniz mahallesi akın caddesi dirimkent sitesi E blok kat 5 no 9, Mersin, Mezitli 33210, Turkey</p>
        </div>
        <div>
            <h3>Date of Birth</h3>
            <p>26.02.1993</p>
        </div>
        <div>
            <h3>Country of Birth</h3>
            <p>Turkey</p>
        </div>
        <div>
            <h3>Citizenship (Main)</h3>
            <p>Turkey</p>
        </div>
        <div>
            <h3>Place of birth</h3>
            <p>Antakya</p>
        </div>
        <div>
            <h3>Father Name and Surname</h3>
            <p>Emin islambey</p>
        </div>
        <div>
            <h3>Mother Name and Surname </h3>
            <p>Sevilay islambey</p>
        </div>
        <div class="personalinfo">
            <div>
                <h3>Email</h3>
                <p>s.islambey@gmail.com</p>
            </div>
            <div>
                <h3>Mobile Phone Number </h3>
                <p>+905065060686</p>
            </div>
        </div>
        <h1>Passport and National ID Details</h1>
        <section>
            <div>
                <h3>Passport Number</h3>
                <p>U23433738</p>
            </div>
            <div class="personalinfo">
                <div>
                    <h3>Passport Start Date</h3>
                    <p>23.07.2020</p>
                </div>
                <div>
                    <h3>Passport Expiry Date</h3>
                    <p>23.07.2030</p>
                </div>
            </div>
            <div>
                <h3>Issuing Authority</h3>
                <p> Turkey</p>
            </div>
            <div>
                <h3>Issuing Country</h3>
                <p>Turkey</p>
            </div>
            <div>
                <h3>Passport</h3>
                <p>Passport.pdf</p>
            </div>
            <div>
                <h3>National ID Number</h3>
                <p>U23433738</p>
            </div>
            <div class="personalinfo">
                <div>
                    <h3>ID Start Date</h3>
                    <p>23.07.2020</p>
                </div>
                <div>
                    <h3>ID Expiry Date</h3>
                    <p>23.07.2030</p>
                </div>
            </div>
            <div>
                <h3>Issuing Country</h3>
                <p>Turkey</p>
            </div>
            <div>
                <h3>Issuing Authority</h3>
                <p>Turkey</p>
            </div>
            <div>
                <h3>National ID</h3>
                <p>1331467990</p>
            </div>
            <div>
                <h3>Passport Number</h3>
                <p>U23513121</p>
            </div>
            <div>
                <h3>Country of Citizenship</h3>
                <p>Turkey</p>
            </div>

        </section>
        <h1>Future Education</h1>
        <section>
            <div class="personalinfo">
                <div>
                    <h3>Country 1</h3>
                    <p>United Kingdom</p>
                </div>
                <div>
                    <h3>Country 2</h3>
                    <p>United Kingdom</p>
                </div>
                <div>
                    <h3>Field of Study</h3>
                    <p>Bioenginering & Bioinformatics & Biotechnology</p>
                </div>
                <div>
                    <h3>Educational Level</h3>
                    <p>Master Degree</p>
                </div>
                <div>
                    <h3>Intake</h3>
                    <p>Winter</p>
                </div>
                <div>
                    <h3>Academic Year </h3>
                    <p>2022</p>
                </div>
                <div>
                    <h3>Study Mode </h3>
                    <p>Full Time</p>
                </div>
            </div>
        </section>
        <h1>Educational Budget</h1>
        <div class="personalinfo">
            <div>
                <h3>From</h3>
                <p>2000</p>
            </div>
            <div>
                <h3>To</h3>
                <p>3000</p>
            </div>
            <div>
                <h3>Currency</h3>
                <p>USD</p>
            </div>
        </div>
        <h1>Educational Background</h1>
        <div class="personalinfo">
            <div>
                <h3>Name of Institution</h3>
                <p>Cukurova University</p>
            </div>
            <div>
                <h3>Faculty(If Applicable)</h3>
                <p>Biotechnology</p>
            </div>
            <div>
                <h3>Language of Instruction</h3>
                <p>Turkish</p>
            </div>
            <div>
                <h3>Institution Country</h3>
                <p>Turkey</p>
            </div>
            <div>
                <h3>Study Mode</h3>
                <p>Full-time</p>
            </div>
            <div>
                <h3>Educational Level</h3>
                <p>Master Degree</p>
            </div>
            <div>
                <h3>Start Date</h3>
                <p>03.02.2020</p>
            </div>
            <div>
                <h3>Completion Date</h3>
                <p>22.02.2022</p>
            </div>
            <div>
                <h3>AWARDED</h3>
                <p>NO</p>
            </div>
            <div>
                <h3>Average Grade</h3>
                <p>4.0</p>
            </div>
            <div>
                <h3>Upload Diploma</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Uploaded Transcript</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Add Qualification 2</h3>
                <p>YES</p>
            </div>
        </div>
        <h1>Academic Quallficiation 2</h1>
        <div class="personalinfo">

            <div>
                <h3>Name of Institution</h3>
                <p>Cukurova University</p>
            </div>
            <div>
                <h3>Faculty(If Applicable)</h3>
                <p>Biotechnology</p>
            </div>
            <div>
                <h3>Language of Instruction</h3>
                <p>Turkish</p>
            </div>
            <div>
                <h3>Institution Country</h3>
                <p>Turkey</p>
            </div>
            <div>
                <h3>Study Mode</h3>
                <p>Full-time</p>
            </div>
            <div>
                <h3>Educational Level</h3>
                <p>Master Degree</p>
            </div>
            <div>
                <h3>Start Date</h3>
                <p>03.02.2012</p>
            </div>
            <div>
                <h3>Completion Date</h3>
                <p>22.02.2017</p>
            </div>
            <div>
                <h3>AWARDED</h3>
                <p>NO</p>
            </div>
            <div>
                <h3>Average Grade</h3>
                <p>4.0</p>
            </div>
            <div>
                <h3>Upload Diploma</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Uploaded Transcript</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Add Qualification 3</h3>
                <p>YES</p>
            </div>

        </div>
        <h1>Work Experience</h1>
        <div class="personalinfo">
            <div>
                <h3>Company Name</h3>
                <p>TUSEB</p>
            </div>
            <div>
                <h3>Position</h3>
                <p>Project Specialist</p>
            </div>
            <div>
                <h3>Job Type</h3>
                <p>Full-time</p>
            </div>
        </div>
        <div class="personalinfo">
            <div>
                <h3>Employee Adress</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Manager Name</h3>
                <p>Project Specialist</p>
            </div>
            <div>
                <h3>Employee Phone</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Employee Mail</h3>
                <p>NULL</p>
            </div>
        </div>
        <div>
            <h3>Job Description</h3>
            <ul>
                <li>
                    Vaccine development
                </li>
                <li>
                    Bioreactor design and scale-up
                </li>
            </ul>
        </div>
        <div>
            <h3>Upload CV</h3>
            <p>CV.pdf</p>
        </div>
        <div>
            <h3>Add Work Experience 2</h3>
            <p>Yes</p>
        </div>
        <h1>Work Experience 2</h1>
        <div class="personalinfo">
            <div>
                <h3>Company Name</h3>
                <p>TEZKİM</p>
            </div>
            <div>
                <h3>Position</h3>
                <p>Specialist</p>
            </div>
            <div>
                <h3>Job Type</h3>
                <p>Full-time</p>
            </div>
        </div>
        <div class="personalinfo">
            <div>
                <h3>Employee Adress</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Manager Name</h3>
                <p>Project Specialist</p>
            </div>
            <div>
                <h3>Employee Phone</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Employee Mail</h3>
                <p>NULL</p>
            </div>
        </div>
        <div>
            <h3>Job Description</h3>
            <ul>
                <li>
                    Vaccine development
                </li>
                <li>
                    Bioreactor design and scale-up
                </li>
                <li>
                    Bioreactor design and scale-up
                </li>
            </ul>
        </div>
        <div>
            <h3>Upload CV</h3>
            <p>CV.pdf</p>
        </div>
        <div>
            <h3>Add Work Experience 3</h3>
            <p>No</p>
        </div>
        <h1>Language Certificates</h1>
        <div>
            <h3>Have you ever passed any International </h3>
            <p>NULL</p>
        </div>
        <div>
            <h3>Language Examination?</h3>
            <p>No</p>
        </div>
        <h1>Upload Extra Documents</h1>
        <div class="personalinfo">
            <div>
                <h3>Upload Document 1</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Upload Document 2</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Upload Document 3</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Upload Document 4</h3>
                <p>NULL</p>
            </div>
            <div>
                <h3>Please add any additional notes for this application</h3>
                <p>NULL</p>
            </div>
        </div>
        <div>
            <h3>I understand that the giving of false or incomplete information may lead to the refusal of all applications to the institutions. Yes
            </h3>
            <p>Yes</p>
        </div>
        <section class="buttonbox">
            <button>
                Button
            </button>
            <button>
                Button
            </button>
        </section>
    </div>

</body>

</html>