
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Dashboard/Index.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/ContactFrom_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/vendor/bootstrap/css/bootstrap.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ContactFrom_v1/css/main.css">
    <!--===============================================================================================-->
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <style>
        .contact1 {
            height: 850px;
            width: 100%;
            min-height: 100%;
            padding: 15px;
            margin-top: 20px;
            border-radius: 15px;
            background: -webkit-linear-gradient(left, #ffff, #ffff);
            background: -o-linear-gradient(left, #0072ff, #00c6ff);
            background: -moz-linear-gradient(left, #0072ff, #00c6ff);
            background: linear-gradient(left, #0072ff, #00c6ff);
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .logocontact {
            margin-top: 10px;
            width: 300px;
            margin-left: 40%;
        }
    </style>
</head>
<body style="overflow:hidden;">
    @*<img class="logocontact" src="~/Content/assets/img/logo.png" />*@
    <div class="contact1">

        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="~/Content/ContactFrom_v1/images/img-01.png" alt="IMG">
            </div>

            <form class="contact1-form validate-form">
                <span class="contact1-form-title">
                    Get in touch
                </span>

                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input class="input1" type="text" name="name" id="name" placeholder="Name">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input1" type="text" name="email" id="email" placeholder="Email">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Subject is required">
                    <input class="input1" type="text" name="subject" id="subject" placeholder="Subject">
                    <span class="shadow-input1"></span>
                </div>

                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <textarea class="input1" name="message" id="message" placeholder="Message"></textarea>
                    <span class="shadow-input1"></span>
                </div>

                <div class="">
                    <button class="btn btn-primary" id="SendButton">
                        <span>
                            Send Email
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Content/ContactFrom_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/ContactFrom_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/ContactFrom_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/ContactFrom_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/ContactFrom_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script> 
    <script>


        $('#SendButton').on('click', function () {
            var record = {
                name: $('#name').val(),
                email: $('#email').val(),
                subject: $('#subject').val(),
                Note: $('#message').val()
            };
            $.ajax({
                type: 'POST',
                url: '/ContactUs/SendMessage',
                contentType: "application/json; charset=utf-8",
                cache: 'false',
                dataType: "json",
                data: JSON.stringify(record),
                success: function (data) {
                    alert("Your message is successfully sent..");
                    
                }
            });
        });
    </script>

    <!--===============================================================================================-->
    <script src="js/main.js"></script>


</body>
</html>
