.stepsContainer {
  padding: 40px;
  padding-bottom: 100px;
  overflow: scroll;
  height: 100vh;

  .links {
    list-style-type: none;
    position: relative;
    padding-left: 10px;
    margin-left: 40px;

    &::before {
      content: "";
      position: absolute;
      background-color: $secondary;
      left: 0;
      width: 3px;
      height: 100%;
    }

    li {
      // width: 200px;
      margin: 0 20px 50px 20px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        background-color: white;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        width: 35px;
        height: 35px;
        left: 0;
        border-radius: 50%;
        transform: translate(-50%, -10%);
        @include steps-border($secondary);
      }
    }

    li.active {
      color: $primary;
      &::before {
        background-color: $primary;
        @include steps-border($primary);
      }
    }

    li.correct {
      &::before {
        background-image: url("../img/check.png");
        background-color: $green;
        @include steps-border($green);
      }
    }

    li.wrong {
      &::before {
        background-image: url("../img/wrong.png");
        background-color: $red;
        @include steps-border($red);
      }
    }

    li.correct.active,
    li.wrong.active {
      &::before {
        background-color: white;
      }
    }

    li.correct.active {
      color: $green;
      &::before {
        background-image: url("../img/check-solid.png");
      }
    }

    li.wrong.active {
      color: $red;
      &::before {
        background-image: url("../img/wrong-solid.png");
      }
    }
  }

  .downContainer {
    margin: -25px 1em 25px 1em;
    @include flex(center, center, column);
    gap: 10px;

    .btn.save {
      width: 100%;
      border-radius: 10px;
    }

    .iconGuide {
      width: 100%;
      background-color: $secondary;
      color: white;
      padding: 14px;
      border-radius: 10px;

      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          @include flex(flex-start, center);
          gap: 10px;
          margin-top: 0.7em;

          .blue-circle {
            width: 40px;
            border-radius: 50%;
          }

          img {
            width: 35px;
          }
        }
      }

      p {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
