
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Studenta </title>
    <link rel="shortcut icon" href="~/Content/Landing/image/favicon.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <link href="~/Content/Landing/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Landing/fonts/icon-font/css/style.css">
    <link rel="stylesheet" href="~/Content/Landing/fonts/typography-font/typo.css">
    <link rel="stylesheet" href="~/Content/Landing/fonts/fontawesome-5/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Plugin'stylesheets  -->

    <link href="~/Content/Landing/plugins/aos/aos.min.css" rel="stylesheet" />
    <link href="~/Content/Landing/plugins/slick/slick.min.css" rel="stylesheet" />
    <!-- Vendor stylesheets  -->
    <link href="~/Content/Landing/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheet -->
   
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H';">
    <div class="site-wrapper overflow-hidden position-relative">

        <header class="site-header site-header--menu-left landing-11-menu site-header--absolute site-header--sticky">
            <div class="container">
                <nav class="navbar site-navbar">
                    <!-- Brand Logo-->
                    <div class="brand-logo">
                        <a href="#">

                            <!-- light version logo (logo must be black)-->
                            <img src="~/Content/Landing/image/logo.png" alt="" class="light-version-logo">
                            <!-- Dark version logo (logo must be White)-->
                            <img src="~/Content/Landing/image/logo.png" alt="" class="dark-version-logo">
                        </a>
                    </div>
                    <div class="menu-block-wrapper">
                        <div class="menu-overlay"></div>
                        <nav class="menu-block" id="append-menu-header">
                            <div class="mobile-menu-head">
                                <div class="go-back">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="current-menu-title"></div>
                                <div class="mobile-menu-close">&times;</div>
                            </div>
                            <ul class="site-menu-main">

                                <li class="nav-item">
                                    <a href="#" class="nav-link-item">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link-item">Support</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- mobile menu trigger -->
                    <div class="mobile-menu-trigger">
                        <span></span>
                    </div>
                    <!--/.Mobile Menu Hamburger Ends-->
                </nav>
            </div>
        </header>
        <!-- navbar- -->
        <!-- Hero Area -->
        <div class="hero-area-l11 position-relative z-index-1 overflow-hidden">
            <div class="container position-relative">
                <div class="row position-relative justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-12 order-lg-1 order-1" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                        <div class="content">
                            <h1>Welcome to <span style="color:gold">Studenta </span> <br class="d-none d-md-block"> Easiest way to education</h1>
                            <div class="row banner-l-11-bottom-content">
                                <div class="col-lg-8 col-md-8 col-sm-10">
                                    <p class="position-relative banner-main-content-l-11">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                        <span class="line-left-content"></span>
                                    </p>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-7 flex-y-center header-btns  header-btn-l11 ms-auto d-none d-xs-inline-flex align-items-center">
                                    <a href="/User/Login" class="btn log-in-btn focus-reset">
                                        Student Login
                                    </a>
                                    <a href="/Admin/Login" class="download-trail-btn btn focus-reset">
                                        Admin Login
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="hero-shape-l11-1 d-none d-md-block">
                <img src="~/Content/Landing/image/l2/hero-shape-1.svg" alt="">
            </div>
            <div class="hero-shape-l11-2 d-none d-md-block">
                <img src="~/Content/Landing/image/l2/hero-shape-2.png" alt="">
            </div>
        </div>
    </div>
    <!-- Vendor Scripts -->
    <script src="~/Content/Landing/js/vendor.min.js"></script>
    <!-- Plugin's Scripts -->
    <script src="~/Content/Landing/plugins/aos/aos.min.js"></script>
    <script src="~/Content/Landing/plugins/slick/slick.min.js"></script>
    <script src="~/Content/Landing/plugins/menu/menu.js"></script>
    <!-- Activation Script -->
    <script src="~/Content/Landing/js/custom.js"></script>
</body>

</html>